*{
    font-family: 'Montserrat', sans-serif;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
  background-color:#e8e9ef
}
#container{
    background-color: white;
    width: 67%;
    margin: auto;
}
#teams_type{
    display: flex;
    width: 50%;
    padding-top: 30px;
    margin: auto;
        
}
#international:hover{
    border-bottom: 2px solid #d64b4b;
}
#international{
    width: 700px;
    
    text-align: center;
}
#other_league:hover{
    border-bottom: 2px solid #d64b4b;
}
#other_league{
    width: 700px;
    text-align: center;
}

/* styling for the teams boxex */

#card{
   box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);
   width: auto;
   gap: 20px;
   margin: auto;
   height: 200px;
   text-align: center;
   margin-top: 40px;
}
#team_name{
    margin-top: 5px;
}
#rank{
    font-size: 10px;
    margin-top: 2px;
    color: lightgray;
}
#horizontal_line{
   background-color: lightgray;
   color: lightgray;
    /* margin-top: -6px; */
}


#box1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}
#team_img{
    /* margin-top: -15px; */
    width: 100%;
    height: 100px;
}
#match_div{
    display: flex;
    margin-top: 10px;
    width: auto;
    margin-left: 50px;
    gap: 20px;
    font-size: 12px;
}

/* womens styling  */

#box2{
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;

}
#women_team{
    text-align: center;
     box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);
   width: auto;
   margin: auto;
   height: 170px;
   text-align: center;
   margin-top: 40px;
}
#women_img{
    margin-top: -15px;
    width: 100%;
    height: 100px;

}
h5{
    text-align: center;
}

/* search styling */

#Search{
    font-size: 15px;
    padding: 5px;
    width:450px;
    margin-left: 250px;
    margin-top: 50px;
}

/* otherleague style */

#women_div{
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);
}

#ipl_img{
     /* margin-top: -10px; */
    width: 100%;
    height: 100px;
}
#winner{
    display: flex;
    gap: 40px;
   
    
}
#year1{
  text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #d64b4b;
    
      
}
#cup{
   width:  22px;
}
@media all  and (min-width: 451px) and (max-width:950px){
    #box1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    
}
#container{
    background-color: white;
    width: 70%;
    margin: auto;
}
#match_div{
    display: flex;
    width: auto;
    margin-left: 30px;
    gap: 20px;
    font-size: 12px;
}

#Search{
    font-size: 12px;
    padding: 5px;
    width:200px;
    margin-left: 150px;
    margin-top: 50px;
}

#box2{
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

}

}
@media all  and (min-width: 101px) and (max-width:450px){

    #box1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    
}
#container{
    background-color: white;
    width: 80%;
    margin: auto;
}
#Search{
    font-size: 12px;
    padding: 5px;
    width:100px;
    margin-left: 100px;
    margin-top: 50px;
}
#match_div{
    display: flex;
    width: auto;
    margin-left: 30px;
    gap: 20px;
    font-size: 12px;
}

#box2{
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;

}
}